<div class="container">
    <a [routerLink]="linkrouter.UsuarioLink" class="link">
        <mat-card class="card mat-elevation-z4">
            <mat-card-title class="title">Usuários</mat-card-title>
            <mat-card-content class="content">
                10
            </mat-card-content>
        </mat-card>
    </a>

    <a [routerLink]="linkrouter.ProdutoLink" class="link">
        <mat-card class="card mat-elevation-z4">
            <mat-card-title class="title">
                Produto
            </mat-card-title>
            <mat-card-content class="content">
                100
            </mat-card-content>
        </mat-card>
    </a>
</div>